/*  your css code here. If applicable */
.summary{
    background-color: #f7fbff;
    border-top: 5px solid #5ea4f3;
}
.block-heading{
    color: #3b99e0;
    text-align: center;
}
.p1{
    text-align: center;
}
